.div-styles {
	border : 2px solid #ccc;
	height : auto;
	margin-bottom : 10px;
	margin-top : 15px;
}

.master-item-text {
	margin-top: 10px;
	margin-bottom: 10px;
}

.master-image-styles {
	padding: 10px;
	height : 195px;
	width : 195px;
	display: block;
    margin: 0 auto;
}

.master-button-styles{
	width : 100%;
	font-size: 14px;
	margin-bottom : 15px;
}

.master-item-price {
	margin-top : 10px;
}

.ordered-list{
	
}

.image-styles {
	padding: 10px;
	height : 100px;
	width : 100px;
	display: block;
    margin: 0 auto;
}

.div-item-styles{
	border : 2px solid #ccc;
	height : 250px;
	margin-top : 20px;
	margin-bottom : 20px;
	padding : 0px;
}
	
.item-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
    color: #333333;
    font-size: 13px;
    font-weight: Bold;
    font-family: Helvetica;
	margin-bottom : 10px;
	overflow : hidden;
}

.item-price {
	color: #333333;
    font-size: 16px;
    font-weight: Bold;
    font-family: Helvetica;
	margin-bottom : 15px;
}

.button-styles{
	width : 100%;
	font-size: 14px;
	color: #0471AF;
	border: 1px solid #cccccc;
	margin-bottom : 15px;
}

@media screen and (max-width: 480px){
	.div-item-styles{
		height : 140px;
		margin-top : 10px;
		margin-bottom : 10px;
	}
	
	.text-styles{
		margin-left : 10px;
	}
	
	.item-text {
		height: 40px;
	}
	
}